<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locator">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".LocatorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DiscoverFriendsActivity"></activity>
        <activity android:name=".ActivitySettings"></activity>

        <service
            android:name=".LocatorService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".PopUpFriendActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ActivityQuestProgress" />
        <activity
            android:name=".PopUpFeedQuest"
            android:theme="@style/AppTheme.CustomTheme" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".ActivityMap"
            android:label="@string/title_activity_map" />
        <activity android:name=".ActivityAddQuest" />
        <activity
            android:name=".ActivityMain"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ActivityForgotPassword"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".ActivityCreateAccount" />
        <activity android:name=".ActivityLoginEmail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="locator.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivitySubmitQuest" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>